.rodape__contatos {
    display: flex;
    flex-direction: column;
}

.contatos__logo {
    width: 55%;
    margin-bottom: 1rem;
}

.contatos__descricao {
    font-size: 14px;
    color: var(--branco);
    font-weight: 400;
    line-height: 1.3rem;
    margin-bottom: 2rem;
}

.rodape__contatos address {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 2rem;
}

.contatos__tel,
.contatos__email {
    color: var(--branco);
    padding-left: 2rem;
    font-style: normal;
    font-size: 14px;
}

.contatos__tel {
    background: url('../../img/icon-phone.svg') no-repeat;
    background-size: 21px 18px;
}

.contatos__email {
    background: url('../../img/icon-email.svg') no-repeat;
    background-size: 21px 18px;
}

.contatos__social {
    display: flex;
    column-gap: .6rem;
}

.social__icone svg{
    fill: var(--branco);
    width: 23px;
    height: 23px;
}

